* text=auto
*.sh text eol=lf
*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf
sync_zabbix text eol=lf
import_zabbix_hosts text eol=lf
cleanup_demo_data text eol=lf
